/* 
    200 -> oklch(90.5% 0.093 164.15)
    500 -> oklch(69.6% 0.17 162.48)
    900 -> oklch(37.8% 0.077 168.94)
*/

:root {
    --esmeralda-200: oklch(90.5% 0.093 164.15);
    --esmeralda-500: oklch(70.192% 0.15767 160.464);
    --esmeralda-900: oklch(37.8% 0.077 168.94);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.solicitacaoCard {
    background-color: var(--esmeralda-900);
    border: 1px solid var(--esmeralda-500);
    border-radius: 10px;
    padding: 5px 10px;
    width: 300px;
    color: #ffffff;
    gap: 10px;
    display: grid;
    grid-template-columns: 350px;
    align-items: center;
}

.solicitacaoHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.solicitacaoHeader span{
    font-size: 1.2rem;
    font-weight: bold;
}

.solicitacaoDetails{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

.solicitacaoPayment {
    display: flex;
    gap: 5px;
    align-items: center;
    font-size: 0.8rem;
    background-color: forestgreen;
    width: fit-content;
    padding: 2px 5px;
    border-radius: 0.25rem;
    color: #b9f8cf;
}

.solicitacaoPayment p{
    display: flex;
    align-items: center;
    gap: 3px;
    justify-content: center;
   
}

.link3d{
    color: var(--esmeralda-200);
    text-decoration: none;
    cursor: pointer;
    font-size: 0.8rem;
}

.solicitacaoDatas{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.solicitacaoDatas p{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5px;
    font-size: 0.8rem;
    text-wrap: nowrap;
}
