/* 
    200 -> oklch(90.5% 0.093 164.15)
    500 -> oklch(69.6% 0.17 162.48)
    900 -> oklch(37.8% 0.077 168.94)
*/

:root{
    --esmeralda-200: oklch(90.5% 0.093 164.15);
    --esmeralda-500: oklch(70.192% 0.15767 160.464);
    --esmeralda-900: oklch(37.8% 0.077 168.94);
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.form_control {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
    width: 300px;
    text-align: center;
}

.input{
    padding: 10px;
    border: 1px solid var(--esmeralda-500);
    border-radius: 5px;
    font-size: 16px;
    color: var(--esmeralda-200);
    text-align: center;
    width: 250px;
}

.input::placeholder {
    color: var(--esmeralda-200);
    text-align: center;
}

.input:focus {
    outline: none;
    border-color: var(--esmeralda-200);
}

.buttonSubmit {
    display: grid;
    justify-content: center;
    align-items: center;
    grid-column: span 2;
    background-color: var(--esmeralda-900);
    padding: 10px 20px;
    border-radius: 0.25rem;
}

.buttonSubmit:hover {
    background-color: var(--esmeralda-500);
    cursor: pointer;
}

.labelFile{
    display: grid;
    grid-column: span 2;
    justify-content: center;
    align-items: center;
    border: 2px dashed var(--esmeralda-200);
    padding: 10px;
    background-color: transparent;
    border-radius: 5px;
    color: var(--esmeralda-200);
    cursor: pointer;
    width: 250px;
}

.labelFile:hover {
    background-color: var(--esmeralda-500);
    transition: 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    cursor: pointer;
    border: 2px solid var(--esmeralda-900);
}

@media (max-width:768px) {
    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: 400ms cubic-bezier(0.175, 0.885, 0.32, 1.275);
    } 
    
    .buttonSubmit{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 250px;
    }
}